// Общие
@import "basecolors.scss";
@import "vars.scss";
@import "mixins.scss";
@import "base.scss";
@import "layouts.scss";
@import "buttons.scss";
// Бренд-блоки
@import "copyright.scss";
// Блоки
@import "blocks/head.scss";
@import "blocks/menu-nav.scss";
@import "blocks/menu.scss";
@import "blocks/main-face.scss";
@import "blocks/offer.scss";
@import "blocks/perfects.scss";
@import "blocks/aboutus.scss";
// формы
@import "blocks/form-offer.scss";
@import "blocks/input.scss";
// Служебные
// @import "outlines.scss";
