// ретинизация
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// главная сетка
$xs-min: 320px; //mobile *
$xs-max: 599px;
$s-min: 600px;
$s-max: 767px;
$m-min: 768px; //tablet *
$m-max: 1169px;
$l-min: 1170px; //1280px //desktop *
$l-max: 1439px;
$xl-min: 1440px; //1560px

$xs-padding: 15px;
$s-padding: 20px;
$m-padding: 30px;
$l-padding: 130px;
$xl-padding: 150px;

$xs-content: ($xs-min - 2 * $xs-padding);
$s-content: ($s-min - 2 * $s-padding);
$m-content: ($m-min - 2 * $m-padding);
$l-content: ($l-min - 2 * $l-padding);
$xl-content: ($xl-min - 2 * $xl-padding);

// основные цвета
$bk-color: #ffffff;
$txt-color: #000000;
$txt-color-light: #ffffff;
$base-color-1: #3da001;
$base-color-1-dark: #368c02;
$base-color-2: #db0000;
$base-color-2-dark: #8b0b14;

$shadow:rgba(0, 1, 3, 0.09);

// меню и навигация
$color-btn-menu: #ffffff;
$color-btn-menu-hover: #ffffff;
$color-btn-menu-active: #ffffff;
// кнопки
// социконки

// формы
$bg-input: #f7f7f7;
$border-input: #d0d0d0;
