.catalog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -20px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 30px 40px;
    @include colors;
  }

  &__img {
    @include size(auto, 147px);
  }

  &__wrap-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
  }

  &__wrap-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__property {
    display: flex;
    flex-direction: row;
  }

  &__property-img {
    margin-right: 15px;
    margin-bottom: 10px;
    @include size(auto, 30px);
  }

  &__property-text {
    @include nospace;
    margin-top: 5px;
    font-size: 16px;
  }

  &__grand-list {
    margin-bottom: 30px;
  }

  &__grand-item {
    text-align: center;
  }

  &__grand-item-text {
    font-size: 20px;
    &_strong {
      font-weight: bold;
    }
  }
}
