.form-offer {
  max-width: 640px;
  z-index: 10;
  background-color: $bk-color;
  box-shadow: 0 0 2px 1px $shadow,
              0 0 5px 2px $shadow,
              0 0 12px 4px $shadow,
              0 0 30px 8px $shadow,
              0 0 75px 16px $shadow;
}

.form-offer__content {
  padding: 40px 50px;
}

.form-offer__head {
  margin-bottom: 40px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.form-offer__dialog-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.input__text {
  flex-basis: 40%;
}
