.head__wrapper {
  display: flex;

  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 14px;
}

.head__box1 {
  margin-right: auto;
}

.head__box3 {
  margin-left: 40px;
}

.head__contact-title {
  margin: 0;
}

.head__contact {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.head__mail {
  margin: 0;
}
