.main-face__head,
.main-face__subhead {
  @include nospace;
  text-transform: uppercase;
  text-align: center;
  @include colors($txt-color-light, $base-color-1);
}

.main-face__head {
  margin-top: 75px;
  margin-bottom: 3px;
  font-size: 50px;
}

.main-face__subhead {
  margin-bottom: 70px;
  font-size: 44px;
}

.main-face__lead {
  @include nospace;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120PX;
  max-width: 650px;
  font-size: 29px;
  text-align: center;

  &_strong {
    font-weight: bold;
  }
}

.main-face__form {
  margin-left: auto;
  margin-right: auto;
}
