.perfects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.perfects__item {
  flex-grow: 1;
  margin: 0 10px 40px 10px;
  max-width: 190px;
}

.perfects__img-box {
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  @include size;
  border: 2px solid $base-color-1-dark;
  border-radius: 100px;
}

.perfects__img {
  display: block;
  margin: auto;
  margin-top: 27px;
  width: 40px;
  height: auto;
}

.perfects__text-head,
.perfects__text {
  @include nospace;
  font-size: 18px;
  text-align: center;
}

@media (min-width: $xl-min) {
  .perfects {
    max-width: 75%;
  }
}
